<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/xenon-components.css">
    <link rel="stylesheet" href="css/xenon-core.css">
    <link rel="stylesheet" href="css/xenon-skins.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/fonts/linecons/css/linecons.css">
    <link rel="stylesheet" href="css/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="autocomplete.js-master/autocomplete.min.css"/>
    <link rel="stylesheet" href="layui/css/layui.css">
    <script src="autocomplete.js-master/autocomplete.min.js"></script>

<!--    <style>-->

<!--        .one,.two{-->

<!--            width: 50%;-->

<!--            height: 700px;-->

<!--            border:1px solid #ccc;-->

<!--            float: left;-->

<!--            box-sizing: border-box;-->

<!--        }-->

<!--    </style>-->
    <script type="text/javascript">
        $(document).ready(function(){
            $.ajax({
                url: "sett",
                type:"post",
                sync: false,
                data:{"fk":localStorage.fk}
            });
        })

        $(document).ready(function(){
            $.ajax({
                url: "reaheart",
                type:"post",
                sync: false,
            });
        })
    </script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
<div class="layui-header">
    <div class="layui-logo">教育服务平台</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <!--        <ul class="layui-nav layui-layout-left">-->
    <!--            <li class="layui-nav-item"><a href="">控制台</a></li>-->
    <!--            <li class="layui-nav-item"><a href="">商品管理</a></li>-->
    <!--            <li class="layui-nav-item"><a href="">用户</a></li>-->
    <!--            <li class="layui-nav-item">-->
    <!--                <a href="javascript:;">其它系统</a>-->
    <!--                <dl class="layui-nav-child">-->
    <!--                    <dd><a href="">邮件管理</a></dd>-->
    <!--                    <dd><a href="">消息管理</a></dd>-->
    <!--                    <dd><a href="">授权管理</a></dd>-->
    <!--                </dl>-->
    <!--            </li>-->
    <!--        </ul>-->
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="http://t.cn/RCzsdCq" class="layui-nav-img">

            </a>
            <!--                <dl class="layui-nav-child">-->
            <!--                    <dd><a href="">基本资料</a></dd>-->
            <!--                    <dd><a href="">安全设置</a></dd>-->
            <!--                </dl>-->
        </li>
        <li class="layui-nav-item"><a href="/tlandd" id="exi" onclick="del()">退出</a></li>
    </ul>
</div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-this"><a href="/sindex" >主页</a></li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="/file/show" >文件上传</a>

                </li>
                <li class="layui-nav-item"><a href="javascript:;" >成绩趋势</a></li>
                <li class="layui-nav-item"><a href="javascript:;" >本学习课程</a></li>
                <li class="layui-nav-item"><a href="javascript:;" >小测</a></li>
            </ul>
        </div>
    </div>
    <div class="layui-body" id="viewDiv" style="margin-top: 25px;">
        <div  >
            <video width="800" id="myvideo" controls="controls" autoplay="autoplay" preload="auto"
                   src="http://localhost:8080/get" type="video/mp4"   onMouseOut="this.pause()" style="width: 909px;" >
                <!--     <source src="http://192.168.18.3:8080/get" type="video/mp4">-->
            </video>
            <div  id="gt" style="height: 500px">

            </div>

        </div>
    </div>





<!--<div  >-->
<!-- <video width="800" id="myvideo" controls="controls" autoplay="autoplay" preload="auto"-->
<!--         src="http://localhost:8080/get" type="video/mp4"   onMouseOut="this.pause()" style="width: 909px;" >-->
<!--&lt;!&ndash;     <source src="http://192.168.18.3:8080/get" type="video/mp4">&ndash;&gt;-->
<!-- </video>-->
<!--    <div  id="gt" style="height: 500px">-->

<!--    </div>-->

<!--</div>-->

<script>
var tt="";
var dt="";
var l="";
var t="";
var ji=0;
var an="";
$(document).ready(function(){

        $.ajax({
            url:"in/gett",
            type: "post",
            data:{"fk":localStorage.fk},
            success: function (data) {
                l=data.length;
                dt=data;
                console.log(data);
                // console.log(tt);
                localStorage.dat=dt[0].title;
                localStorage.a=dt[0].a;
                localStorage.b=dt[0].b;
                localStorage.c=dt[0].c;
                localStorage.d=dt[0].d;
                localStorage.ans=dt[0].answer;
                tt=dt[0].time;
            }
        })
    })
    var sim=0;
    //监听播放时间
    var video = document.getElementById('myvideo');
    //使用事件监听方式捕捉事件


    video.addEventListener("timeupdate",function(){

        $.ajax({
            url: "staheart",
            type:"post",
            sync: false,
            success: function (data) {
                if (data !== "s1"){
                    video.pause();
                    alert("长时间不操作返回主页");
                    location.assign("/sindex");
                }
            }
        });
        var timeDisplay;
        //用秒数来显示当前播放进度
        timeDisplay = Math.floor(video.currentTime);
        console.log(Math.floor(video.currentTime))
        //当视频播放到 4s的时候做处理

            if (timeDisplay == tt) {
                // if(t!=tt){
                //     console.log("-------");
                //     sim=0;
                //     t=tt;
                //     console.log(t);
                // }
                if (sim == 0) {
                    video.pause();
                    document.getElementById("gt").innerHTML='<iframe id="gtt" style="height:70%;width:50%" src = "/in/gtl" scrolling="yes"></iframe>';
                    // document.getElementById("viewDiv").innerHTML = '<object type="text/html" data="/ce" width="100%" height="100%"></object>';

                    if (ji==l){
                        sim = 1;
                    }
                    if (localStorage.aa==1) {
                        video.play();
                        if (ji<l) {
                            ji=ji+1;
                            localStorage.dat=dt[ji].title;
                            localStorage.a=dt[ji].a;
                            localStorage.b=dt[ji].b;
                            localStorage.c=dt[ji].c;
                            localStorage.d=dt[ji].d;
                            localStorage.ans=dt[ji].answer;
                            tt=dt[ji].time;
                            sim = 0;
                        }
                    }
                    if (localStorage.aa==0){
                        video.pause();
                    }
                }
                t=tt;
            }
    },false);

    video.addEventListener("pause",function () {
        console.log("123");
    })
</script>
</div>
</body>
</html>