<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <meta http-equiv="Range" content="bytes=0-1024">-->
    <title>Title</title>
    <script src="/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/xenon-components.css">
    <link rel="stylesheet" href="css/xenon-core.css">
    <link rel="stylesheet" href="css/xenon-skins.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/fonts/linecons/css/linecons.css">
    <link rel="stylesheet" href="css/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="autocomplete.js-master/autocomplete.min.css"/>
    <script src="autocomplete.js-master/autocomplete.min.js"></script>

</head>
<body>
 <video width="800" id="myvideo" >
     <source src="http://localhost:8080/get" type="video/mp4">
 </video>
</body>
</html>