<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="/layui/layui.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/xenon-components.css">
    <link rel="stylesheet" href="/css/xenon-core.css">
    <link rel="stylesheet" href="/css/xenon-skins.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="layui/css/layui.css">
    <script src="/jquery-3.4.1/jquery-3.4.1.min.js"></script>
</head>
<body>
<div class="layui-layout layui-layout-admin">
<div class="layui-header">

    <div class="layui-logo">教育服务平台</div>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
            </a>
        </li>
        <li class="layui-nav-item"><a href="/slandd" id="exi" onclick="del()">退出</a></li>
    </ul>
</div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-this"><a href="/tindex" >主页</a></li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="/file/show" >上传文件</a>
                </li>
                <li class="layui-nav-item"><a href="javascript:;" >成绩趋势</a></li>
                <li class="layui-nav-item"><a href="javascript:;" >本学习课程</a></li>
                <li class="layui-nav-item"><a href="javascript:;" >小测</a></li>
            </ul>
        </div>
    </div>
    <div class="layui-body" id="viewDiv" style="margin-top: 25px;">
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">题目</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" id="tx"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                a <input type="radio" name="xuan" value="a" title="a">
                <div class="layui-unselect layui-form-radio">
                    <div class="layui-anim layui-icon"></div>
                    <div>
                        <input type="text" id="a">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                b <input type="radio" name="xuan" value="b" title="b" >
                <div class="layui-unselect layui-form-radio">
                    <div class="layui-anim layui-icon"></div>
                    <div>
                        <input type="text" id="b">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                c <input type="radio" name="xuan" value="c" title="c" >
                <div class="layui-unselect layui-form-radio">
                    <div class="layui-anim layui-icon"></div>
                    <div>
                        <input type="text" id="c">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                d <input type="radio" name="xuan" value="d" title="d" >
                <div class="layui-unselect layui-form-radio">
                    <div class="layui-anim layui-icon"></div>
                    <div>
                        <input type="text" id="d">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                出现时间 <input type="number"  id="fen" style="width: 50px ;">分
                <input type="number"  id="miao" style="width: 50px">秒
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1" onclick="ere()" id="sub">立即提交</button>
            </div>
        </div>
    </div>

<script>

    $(function(){
        $("#sub").click(function(){
            var ke=localStorage.ke;

            var st =document.getElementById("tx").value;
            var s;
            var aa=document.getElementById("a").value;
            var bb=document.getElementById("b").value;
            var cc=document.getElementById("c").value;
            var dd=document.getElementById("d").value;
            var fen=document.getElementById("fen").value;
            var fenn =parseInt(fen)* 60;
            var miao=document.getElementById("miao").value;
            var fm =fenn+parseInt(miao);
            var val=$('input:radio[name="xuan"]:checked').val();
            if(val==null){
                alert(fm);
                alert("什么也没选中!");
                return false;
            }
            else{
                if (val == "a"){
                 s=  document.getElementById("a").value;

                    // alert(aa);
                }
                if (val == "b"){
                   s= document.getElementById("b").value;
                    // alert(bb);
                }
                if (val == "c"){
                   s= document.getElementById("c").value;
                    // alert(cc);
                }
                if (val == "d"){
                   s= document.getElementById("d").value;
                    // alert(dd);
                }
                // alert(typeof val);
                // alert(val);
                $.ajax({
                    url:"/ti/set",
                    type:"post",
                    data:{"st":st,
                          "s": s,
                         "aa":aa,
                        "bb":bb,
                        "cc":cc,
                        "dd":dd,
                        "ke": ke,
                        "fm":parseInt(fm)
                    },
                    success:function(data){
                        if (data=="ok"){
                            alert("提交成功");
                        }
                    }
                })
            }
            // var list= $('input:radio[name="list"]:checked').val();
            // if(list==null){
            //     alert("请选中一个!");
            //     return false;
            // }
            // else{
            //     alert(list);
            // }
        });
    });
</script>
</div>
</body>
</html>