<!DOCTYPE html>
<html xmlns:scrolling="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 主界面 - Layui</title>
    <link rel="stylesheet" href="layui/css/layui.css">
    <script src="/jquery-3.4.1/jquery-3.4.1.min.js"></script>

</head>
<body class="layui-layout-body" >
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">教育服务平台</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
<!--        <ul class="layui-nav layui-layout-left">-->
<!--            <li class="layui-nav-item"><a href="">控制台</a></li>-->
<!--            <li class="layui-nav-item"><a href="">商品管理</a></li>-->
<!--            <li class="layui-nav-item"><a href="">用户</a></li>-->
<!--            <li class="layui-nav-item">-->
<!--                <a href="javascript:;">其它系统</a>-->
<!--                <dl class="layui-nav-child">-->
<!--                    <dd><a href="">邮件管理</a></dd>-->
<!--                    <dd><a href="">消息管理</a></dd>-->
<!--                    <dd><a href="">授权管理</a></dd>-->
<!--                </dl>-->
<!--            </li>-->
<!--        </ul>-->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">

                </a>
<!--                <dl class="layui-nav-child">-->
<!--                    <dd><a href="">基本资料</a></dd>-->
<!--                    <dd><a href="">安全设置</a></dd>-->
<!--                </dl>-->
            </li>
            <li class="layui-nav-item"><a href="/slandd" id="exi" onclick="del()">退出</a></li>
        </ul>
    </div>
<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
            <li class="layui-nav-item"><a href="/sxuan" >选课</a></li>
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;" >我听的课</a>
                <dl class="layui-nav-child">
                    <dd><a href="/sting" >课程</a></dd>
                    <dd><a href="/sexam" >考试</a></dd>
                    <dd><a href="/smessage" >老师评语</a></dd>

                </dl>
            </li>
            <li class="layui-nav-item"><a href="/squshi" >成绩趋势</a></li>
            <li class="layui-nav-item"><a href="/spload" >本学习课程</a></li>
            <li class="layui-nav-item"><a href="/ceec" >小测</a></li>
        </ul>
    </div>
</div>

<div class="layui-body" id="viewDiv" style="margin-top: 25px;">
    <script>
            document.getElementById("viewDiv").innerHTML = '<object type="text/html" data="/ce" width="100%" height="100%"></object>';
    </script>
</div>

<
</div>
<script src="layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });

    function del(){
        localStorage.removeItem("token");
    }
</script>
</body>
</html>