<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 主界面 - Layui</title>
    <link rel="stylesheet" href="layui/css/layui.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">教育服务平台</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">

                </a>
            </li>
            <li class="layui-nav-item"><a href="/tlandd">退出</a></li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item"><a href="/tsend">发布课程</a></li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">我教的课</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/ttea">课程</a></dd>
                        <dd><a href="/texam">考试</a></dd>
                        <dd><a href="/tsendmess">评语</a></dd>

                    </dl>
                </li>
                <li class="layui-nav-item"><a href="/tpingjun">成绩趋势</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script src="layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>
</body>
</html>